In [6]:
import pandas as pd
import numpy as np

In [3]:
# Original data available at https://s3.amazonaws.com/open_data/csv/opendata_projects.zip.
filename = "C:\Users\Chris\Documents\Programming\Mongo\opendata_projects/opendata_projects.csv"

# Only load in the relevant columns.
cols = ["school_state", "resource_type", "poverty_level", "date_posted", "total_donations", "funding_status"]
df = pd.read_csv(filename, header=0, usecols=cols)
df.head(2)

,school_state,resource_type,poverty_level,total_donations,funding_status,date_posted
0,NY,Supplies,highest poverty,251,completed,2002-09-13 00:00:00
1,NY,Supplies,moderate poverty,125,completed,2002-09-16 00:00:00

In [4]:
df.shape

(878852, 6)

In [11]:
# Take a random subset of the data.
rows = np.random.choice(df.index.values, 10000)
sampled_df = df.ix[rows]

In [12]:
sampled_df.to_csv("static/data/donations.csv")